body {
background-image: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
  background-repeat: repeat;
background-size: cover;
  font-family: 'Mali', cursive;;
} 

header
   {
  background-color: black;
  color: white;
  height: 70px;
  padding: 10px;
  }

footer {
    background-color: black;
    color: white;
    height: 50px;
    padding: 10px;
    text-align: center;
}

.mainpage 
  {
   width: 1024px; 
   margin: 0 auto;
  }
.headname1 {
    color: rgb(171, 228, 225);
    font-size: 30px;
}
.headname1 {
  color: rgb(8, 102, 97);
}